<a href="https://colab.research.google.com/github/MShiloni22/DDBMS_Project_A/blob/master/DDBMS_Project_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install pyspark
!pip install findspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 31 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 36.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=5d2bf277316f09bb2b82d58d6c0ffc3121c03d81f95f07c8398b677f7d1c18ca
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [153]:
import os
import findspark
import datetime as dt

findspark.init()
from pyspark.sql import SparkSession
def init_spark(app_name: str):
 spark = SparkSession.builder.appName(app_name).getOrCreate()
 sc = spark.sparkContext
 return spark, sc
spark, sc = init_spark('demo')
sc

In [154]:
# working on queries.csv extraction
from pyspark.sql import SparkSession,Row, Column
import pyspark.sql.functions as F
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
queries_file = '/content/drive/MyDrive/Colab Files/DDBMS//queries.csv'
df = spark.read.csv(queries_file, header='True', inferSchema='True')

print("Loaded queries successfully")

Loaded queries successfully

In [155]:
# doing the same process for all columns
column_names = ["genres", "lang", "actors", "director", "cities", "country", 
                "from_realese_date", "production_company"]
for name in column_names:
  temp_name_1 = name + "1"
  temp_name_2 = name + "2"
  # removing irrelevant chars
  df = df.select("*", F.translate(F.col(name), "'[]", "")\
                .alias(temp_name_1))\
  .drop(name)

  # converting arrays strings to arrays of strings
  df = df.select("*", F.split(F.col(temp_name_1),",").alias(temp_name_2)) \
      .drop(temp_name_1)
  df = df.withColumnRenamed(temp_name_2,name)

print("Cleaned and seperated to arrays")

Cleaned and seperated to arrays

In [156]:
# creating columns for each element in each column contains an array
for name in column_names:
  name_size = name + "_size"
  # get max array's size in the column
  df = df.withColumn(name_size, F.size(F.col(name)))
  df_col_max = df.agg({name_size: 'max'})
  max_col_size = df_col_max.collect()[0][0]

  for i in range(max_col_size):
    df = df.withColumn(name + "_" + str(i), F.col(name)[i])

  df = df.drop(name)
  df = df.drop(name_size)


def drop_null_columns(df):
  
    """
    This function drops columns containing all null values.
    :param df: A PySpark DataFrame
    """
    
    null_counts = df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df.columns]).collect()[0].asDict()
    to_drop = [k for k, v in null_counts.items() if v >= df.count()]
    df = df.drop(*to_drop)
    
    return df

df = drop_null_columns(df)
df.show()

+-------+---------+----------------+----------------+-------+---------+------+------------------+----------------+--------------------+---------------+----------------+------------+----------+--------------+----------+--------+-----------+----------------+---------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|user_id| genres_0|        genres_1|        genres_2| lang_0|   lang_1|lang_2|          actors_0|        actors_1|            actors_2|       actors_3|      director_0|  director_1|director_2|      cities_0|  cities_1|cities_2|  country_0|       country_1|country_2|from_realese_date_0|from_realese_date_1|from_realese_date_2|production_company_0|production_company_1|production_company_2|production_company_3|production_company_4|
+-------+---------+----------------+----------------+-------+---------+------+------------------+----------------+--------------------+---------------+----------------+------------+----------+--------------+----------+--------+-----------+----------------+---------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|    981|  Western|         Mystery|            null|English|   Srpski|  null|                  |            null|                null|           null|    Nae Caranfil|        null|      null|         Haifa|  Tiberias|    null|           |            null|     null|               2012|               null|               null|Katakuri-ke no Kô...| Samson Productio...|                null|                null|                null|
|   3775|   Action|         Western|            null|English|     null|  null|                  |            null|                null|           null|                |        null|      null|      Tel Aviv|      null|    null|           |            null|     null|               2013|               null|               null|        Clavius Base|       Triplex Films|                null|                null|                null|
|   4095|    Crime|            null|            null|English| עִבְרִית|  null|     Kenneth Alton|     Johnny Depp|                null|           null|                |        null|      null|     Jerusalem|      null|    null|    Belgium|         Moldova|     null|               1995|               null|               null|Peter Carsten Pro...|         HDNet Films|                null|                null|                null|
|   3363|Animation|         Western|            null|English|     null|  null|                  |            null|                null|           null|    Philip Dunne|        null|      null|         Haifa|      null|    null|    Croatia|            null|     null|               2014|               null|               null|Centrul de Produc...|   Les Films Pelléas|                null|                null|                null|
|   8982|   Action|     Documentary|            null|English|     null|  null|                  |            null|                null|           null|                |        null|      null|      Tel Aviv| Jerusalem|    null|           |            null|     null|               2018|               null|               null|Vortex Words Pict...| Internationale F...|                null|                null|                null|
|   7603| TV Movie|            null|            null|English|     null|  null|         Tom Hanks| Stuart Townsend|                null|           null|                |        null|      null|     Jerusalem|      null|    null|    Jamaica|          Israel|     null|               1999|               null|               null|     Northern Lights|                null|                null|                null|                null|
|   3112|  Fantasy|       Adventure|            null|English|     null|  null|                  |            null|                null|           null|                |        null|      null|         Eilat|      null|    null|  Guatemala| Kyrgyz Republic|     null|               1996|               null|               null|         Warner Bros| Pixar Animation ...|          Horse Film|                null|                null|
|   7217|    Drama|       Animation|          Action|English| עִבְרִית|  null|                  |            null|                null|           null|                |        null|      null|     Jerusalem|      null|    null|      Qatar|          Israel|     null|               1999|               null|               null|               Chill|                null|                null|                null|                null|
|   9716|    Crime|         Romance|            null|English|     null|  null|                  |            null|                null|           null|                |        null|      null|         Eilat|      null|    null|Switzerland|        Mongolia|     null|               2006|               null|               null|   Monogram Pictures| Pixar Animation ...|                null|                null|                null|
|   4832|    Drama|       Animation|        TV Movie|English|     null|  null|                  |            null|                null|           null|  Michael Tiddes|        null|      null|         Haifa|      null|    null|           |            null|     null|               2012|               null|               null|    Joel Productions|    Constantin Film.|                null|                null|                null|
|   8260|   Family|            null|            null|English|     null|  null| """Terry OQuinn""|            null|                null|           null| Johnny Larocque|        null|      null| Edward Walsh"|      null|    null|           |            null|     null|           Tiberias|               null|               null|             Namibia|             Morocco|                null|                null|                null|
|   2772|   Action|          Family|            null|English|     null|  null|       Harry Carey|             Jr.| Lauren Shuler Do...| Daniel Enright|                |        null|      null|      Tel Aviv|      null|    null|           |            null|     null|               2017|               null|               null|MGM-Pathé Communi...|   TSJ Entertainment|                null|                null|                null|
|   8971|Adventure| Science Fiction|            null|English|     null|  null|                  |            null|                null|           null|                |        null|      null|         Eilat|      null|    null|      Congo|        Ethiopia|     null|               2004|               null|               null|Walt Disney Pictures| Pixar Animation ...| Yannix Technolog...|                null|                null|
|  10496|    Drama|       Animation|            null|English|     null|  null|       Osamu Hosoi|    Eunice Black|                null|           null|   Julia Sweeney|        SABU|      null|         Haifa|      null|    null|           |            null|     null|               2016|               null|               null|       RTV Slovenija| Zoki Century Int...|                null|                null|                null|
|   9658|    Drama|       Adventure|         Mystery|English|     null|  null|      Otto Klopsch|            null|                null|           null|     So Yong Kim|        null|      null|         Haifa|      null|    null|           |            null|     null|               2018|               null|               null|Rational Packagin...|         Honey Films|                null|                null|                null|
|  10114|   Horror|       Adventure|            null|English|  ภาษาไทย|  null|                  |            null|                null|           null|                |        null|      null|         Eilat|      null|    null|Netherlands|      Kazakhstan|     null|               2016|               null|               null|Walt Disney Pictures| Pixar Animation ...| Optimum Productions|                null|                null|
|   2727|    Drama|       Adventure| Science Fiction|English|    ?????|  null|Bernadette Leonard|            null|                null|           null|Philippe Le Guay| Wim Wenders|      null|         Haifa|      null|    null|           |            null|     null|               2018|               null|               null|   HE-Filmproduktion| Sinatra Enterprises|                null|                null|                null|
|   1889|    Drama|          Horror|             War|English|     null|  null|    Hassan Majooni|            null|                null|           null|                |        null|      null|         Haifa|      null|    null|           |            null|     null|               2016|               null|               null|"""Thats Nice Fil...|                null|                null|                null|                null|
|   8235|    Drama|          Action|            null|English|     null|  null|        Gil Herman|            null|                null|           null|    Mariano Cohn|        null|      null|         Haifa|      null|    null|           |            null|     null|               2012|               null|               null|"""Centre Nationa...|                null|                null|                null|                null|
|   6345|Animation|       Adventure|            null|English|     null|  null|                  |            null|                null|           null|                |        null|      null|         Eilat|      null|    null|South Korea|         Morocco|     null|               2012|               null|               null|Pixar Animation S...| Film Development...|                null|                null|                null|
+-------+---------+----------------+----------------+-------+---------+------+------------------+----------------+--------------------+---------------+----------------+------------+----------+--------------+----------+--------+-----------+----------------+---------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows