<a href="https://colab.research.google.com/github/MShiloni22/DDBMS_Project_A/blob/master/DDBMS_Project_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
!pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 32 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 38.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=eba20be9ee0a211c452e50d0260d68f38d0d3c598e362ce9b1b4c623f2b060a1
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import os
import findspark
import datetime as dt

findspark.init()
from pyspark.sql import SparkSession
def init_spark(app_name: str):
 spark = SparkSession.builder.appName(app_name).getOrCreate()
 sc = spark.sparkContext
 return spark, sc
spark, sc = init_spark('demo')
sc

# Section 1 - Data Extraction
# Current file = queries.csv

# Transform the file to tsv format
import csv

with open('/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/queries.csv','r') as csvin,\
    open('/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/queries.tsv', 'w') as tsvout:
    csvin = csv.reader(csvin)
    tsvout = csv.writer(tsvout, delimiter='\t')
    for row in csvin:
        tsvout.writerow(row)

from pyspark.sql import SparkSession,Row, Column
import pyspark.sql.functions as F
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
queries_file = '/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/queries.tsv'
df = spark.read.csv(queries_file, header='True', inferSchema='True', sep='\t')


column_names = ["genres", "lang", "actors", "director", "cities", "country", 
                "from_realese_date", "production_company"]
# For all the above columns
for name in column_names:
  temp_name_1 = name + "1"
  temp_name_2 = name + "2"
  # Removing irrelevant chars
  df = df.select("*", F.translate(F.col(name), "'[]", "")\
                .alias(temp_name_1))\
  .drop(name)

  # Converting arrays strings to arrays of strings
  df = df.select("*", F.split(F.col(temp_name_1),",").alias(temp_name_2)) \
      .drop(temp_name_1)
  df = df.withColumnRenamed(temp_name_2,name)

print("Queries table:")
df.show()
queries_df = df

# ------------------------------------------------------------------------------

# Current file: credits.csv
import re
credits_file = '/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/credits.csv'
df = spark.read.csv(credits_file, header='True', inferSchema='True')

# load the data as you did before,
# just now change the delimiter to get evreything together
credits = spark.read.format("csv")\
.option("delimiter", "\t")\
.option("header","true")\
.option("inferSchema", "true")\
.load("/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/credits.csv")
prog = re.compile('\\[(.*?)\\]')
second_match = F.udf(lambda x: prog.findall(x)[1])
id_extract = F.udf(lambda x: x.split(",")[-1])
credits = credits\
.withColumn("id", id_extract("cast,crew,id"))\
.withColumn("cast", F.regexp_extract(F.col("cast,crew,id"), '\\[(.*?)\\]', 0
))\
.withColumn("crew", F.concat(F.lit("["),second_match("cast,crew,id"), F.lit(
"]")))\
.select("cast", "crew", "id")
df = credits
# df.printSchema()
column_names = ["cast", "crew"]
# For all the above columns
for name in column_names:
  temp_name_1 = name + "1"
  temp_name_2 = name + "2"
  # Removing irrelevant chars
  df = df.select("*", F.translate(F.col(name), "\\{\\[\\]'\\}", "")\
                .alias(temp_name_1))\
  .drop(name)

  # Converting arrays strings to arrays of strings
  df = df.select("*", F.split(F.col(temp_name_1),",").alias(temp_name_2)) \
      .drop(temp_name_1)
  df = df.withColumnRenamed(temp_name_2,name)

# For cast column - udf for extracting actors' names only from cast json string
actors_udf = F.udf(lambda arr: [arr[i][7:] for i in range(len(arr)) if i % 8 == 5])
df = df.withColumn('actors', actors_udf(F.col("cast")))\
  .drop("cast")

# For crew column - udf for extracting directors' names only from crew json string
directors_udf = F.udf(lambda arr: [arr[i+1][7:] for i in range(len(arr))
 if arr[i] == " job: Director"])
df = df.withColumn('directors', directors_udf(F.col("crew")))\
  .drop("crew")

# Converting arrays strings to arrays of strings
column_names = ["actors", "directors"]
for name in column_names:
  temp_name_1 = name + "1"
  temp_name_2 = name + "2"
  # Removing irrelevant chars
  df = df.select("*", F.translate(F.col(name), "\\{\\[\\]'\\}", "")\
                .alias(temp_name_1))\
  .drop(name)

  # Converting arrays strings to arrays of strings
  df = df.select("*", F.split(F.col(temp_name_1),",").alias(temp_name_2)) \
      .drop(temp_name_1)
  df = df.withColumnRenamed(temp_name_2,name)

print("Credits table:")
df.show()
credits_df = df

# ------------------------------------------------------------------------------

# Current file: movies.csv
movies_file = '/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/movies.csv'
df = spark.read.csv(movies_file, header='True', inferSchema='True')

# Doing the same process for all columns
column_names = ["genres", "production_companies", "production_countries", 
                "spoken_languages", "cities"]
for name in column_names:
  temp_name_1 = name + "1"
  temp_name_2 = name + "2"
  # Removing irrelevant chars
  df = df.select("*", F.translate(F.col(name), "\\{\\[\\]'\\}", "")\
                .alias(temp_name_1))\
  .drop(name)

  # Converting arrays strings to arrays of strings
  df = df.select("*", F.split(F.col(temp_name_1),",").alias(temp_name_2)) \
      .drop(temp_name_1)
  df = df.withColumnRenamed(temp_name_2,name)

# Finished working on cities column, and seperating production_companies
# because it has different structure
column_names = ["genres", "production_countries", "spoken_languages"]

# For each column - udf for extracting names only from json string
name_udf = F.udf(lambda arr: [arr[i][7:] for i in range(len(arr)) if i % 2 == 1])
for c in column_names:
  c_1 = c + "1"
  df = df.withColumn(c_1, name_udf(F.col(c)))\
    .drop(c)
prod_udf = F.udf(lambda arr: [arr[i][6:] for i in range(len(arr)) if i % 2 == 0])
df = df.withColumn("production_companies1", prod_udf(F.col("production_companies")))\
  .drop("production_companies")

# Renameing columns names
column_names = ["genres", "production_companies", "production_countries", 
                "spoken_languages"]
for name in column_names:
  current_name = name + "1"
  df = df.withColumnRenamed(current_name,name)

print("Movies table:")
df.show()
movies_df = df

Mounted at /content/drive
Queries table:
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|user_id|              genres|                lang|              actors|            director|              cities|             country|from_realese_date|  production_company|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|    981| [Western,  Mystery]|  [English,  Srpski]|                  []|      [Nae Caranfil]|  [Haifa,  Tiberias]|                  []|           [2012]|[Katakuri-ke no K...|
|   3775|  [Action,  Western]|           [English]|                  []|                  []|          [Tel Aviv]|                  []|           [2013]|[Clavius Base,  T...|
|   4095|             [Crime]|[English,  עִבְרִית]|[Kenneth Alton,  ...|                  []|         [Jerusalem]| [Belgium,  Moldova]|           [1995]|[Peter Carsten Pr...|
|   3363|[Animation,  West...|           [English]|                  []|      [Philip Dunne]|             [Haifa]|           [Croatia]|           [2014]|[Centrul de Produ...|
|   8982|[Action,  Documen...|           [English]|                  []|                  []|[Tel Aviv,  Jerus...|                  []|           [2018]|[Vortex Words Pic...|
|   7603|          [TV Movie]|           [English]|[Tom Hanks,  Stua...|                  []|         [Jerusalem]|  [Jamaica,  Israel]|           [1999]|   [Northern Lights]|
|   3112|[Fantasy,  Advent...|           [English]|                  []|                  []|             [Eilat]|[Guatemala,  Kyrg...|           [1996]|[Warner Bros,  Pi...|
|   7217|[Drama,  Animatio...|[English,  עִבְרִית]|                  []|                  []|         [Jerusalem]|    [Qatar,  Israel]|           [1999]|             [Chill]|
|   9716|   [Crime,  Romance]|           [English]|                  []|                  []|             [Eilat]|[Switzerland,  Mo...|           [2006]|[Monogram Picture...|
|   4832|[Drama,  Animatio...|           [English]|                  []|    [Michael Tiddes]|             [Haifa]|                  []|           [2012]|[Joel Productions...|
|   8260|            [Family]|           [English]|["""Terry OQuinn"...|                  []|          [Tiberias]| [Namibia,  Morocco]|           [1998]|[TROS Bridge Rights]|
|   2772|   [Action,  Family]|           [English]|[Harry Carey,  Jr...|                  []|          [Tel Aviv]|                  []|           [2017]|[MGM-Pathé Commun...|
|   8971|[Adventure,  Scie...|           [English]|                  []|                  []|             [Eilat]|  [Congo,  Ethiopia]|           [2004]|[Walt Disney Pict...|
|  10496| [Drama,  Animation]|           [English]|[Osamu Hosoi,  Eu...|[Julia Sweeney,  ...|             [Haifa]|                  []|           [2016]|[RTV Slovenija,  ...|
|   9658|[Drama,  Adventur...|           [English]|      [Otto Klopsch]|       [So Yong Kim]|             [Haifa]|                  []|           [2018]|[Rational Packagi...|
|  10114|[Horror,  Adventure]| [English,  ภาษาไทย]|                  []|                  []|             [Eilat]|[Netherlands,  Ka...|           [2016]|[Walt Disney Pict...|
|   2727|[Drama,  Adventur...|   [English,  ?????]|[Bernadette Leonard]|[Philippe Le Guay...|             [Haifa]|                  []|           [2018]|[HE-Filmproduktio...|
|   1889|[Drama,  Horror, ...|           [English]|    [Hassan Majooni]|                  []|             [Haifa]|                  []|           [2016]|["""Thats Nice Fi...|
|   8235|    [Drama,  Action]|           [English]|        [Gil Herman]|      [Mariano Cohn]|             [Haifa]|                  []|           [2012]|["""Centre Nation...|
|   6345|[Animation,  Adve...|           [English]|                  []|                  []|             [Eilat]|[South Korea,  Mo...|           [2012]|[Pixar Animation ...|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
only showing top 20 rows

Credits table:
+-----+--------------------+--------------------+
|   id|              actors|           directors|
+-----+--------------------+--------------------+
|  862|[Tom Hanks,  Tim ...|     [John Lasseter]|
| 8844|[Robin Williams, ...|      [Joe Johnston]|
|15602|[Walter Matthau, ...|     [Howard Deutch]|
|31357|[Whitney Houston,...|   [Forest Whitaker]|
|11862|[Steve Martin,  D...|     [Charles Shyer]|
|  949|[Al Pacino,  Robe...|      [Michael Mann]|
|11860|[Harrison Ford,  ...|    [Sydney Pollack]|
|45325|[Jonathan Taylor ...|      [Peter Hewitt]|
| 9091|[Jean-Claude Van ...|       [Peter Hyams]|
|  710|[Pierce Brosnan, ...|   [Martin Campbell]|
| 9087|[Michael Douglas,...|        [Rob Reiner]|
|12110|[Leslie Nielsen, ...|        [Mel Brooks]|
|21032|[Kevin Bacon,  Bo...|       [Simon Wells]|
|10858|[Anthony Hopkins,...|      [Oliver Stone]|
| 1408|[Geena Davis,  Ma...|      [Renny Harlin]|
|  524|[Robert De Niro, ...|   [Martin Scorsese]|
| 4584|[Kate Winslet,  E...|           [Ang Lee]|
|    5|[Tim Roth,  Anton...|[Allison Anders, ...|
| 9273|[Jim Carrey,  Ian...|    [Steve Oedekerk]|
|11517|[Wesley Snipes,  ...|      [Joseph Ruben]|
+-----+--------------------+--------------------+
only showing top 20 rows

Movies table:
+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|movie_id|            overview|        release_date|             revenue|             tagline|               title|              cities|              genres|production_countries|    spoken_languages|production_companies|
+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|     862|Led by Woody, And...|          30/10/1995|           373554033|                null|           Toy Story|[Eilat,  Tel Aviv...|[Animation, Comed...|[United States of...|           [English]|[Pixar Animation ...|
|    8844|When siblings Jud...|          15/12/1995|           262797249|Roll the dice and...|             Jumanji|[Jerusalem,  Tibe...|[Adventure, Fanta...|[United States of...|[English, FranÃ§ais]|[TriStar Pictures...|
|   15602|A family wedding ...|          22/12/1995|                   0|Still Yelling. St...|    Grumpier Old Men|[Eilat,  Haifa,  ...|   [Romance, Comedy]|[United States of...|           [English]|[Warner Bros.,  L...|
|   31357|"Cheated on, mist...| determined to fi...|[{'name': 'Twenti...|          22/12/1995|            81452156|[iso_639_1: en,  ...|[Comedy, Drama, R...|                  []|[United States of...|                 [e]|
|   11862|Just when George ...|          10/02/1995|            76578911|Just When His Wor...|Father of the Bri...|[Haifa,  Jerusale...|            [Comedy]|[United States of...|           [English]|[Sandollar Produc...|
|     949|Obsessive master ...|          15/12/1995|           187436818|A Los Angeles Cri...|                Heat|[Tiberias,  Jerus...|[Action, Crime, D...|[United States of...| [English, EspaÃ±ol]|[Regency Enterpri...|
|   11860|An ugly duckling ...|          15/12/1995|                   0|You are cordially...|             Sabrina|[Eilat,  Jerusale...|   [Comedy, Romance]|[Germany, United ...|[FranÃ§ais, English]|[Paramount Pictur...|
|   45325|A mischievous you...|          22/12/1995|                   0|The Original Bad ...|        Tom and Huck|[Haifa,  Jerusale...|[Action, Adventur...|[United States of...|  [English, Deutsch]|[Walt Disney Pict...|
|    9091|International act...|          22/12/1995|            64350171|Terror goes into ...|        Sudden Death|[Tiberias,  Haifa...|[Action, Adventur...|[United States of...|           [English]|[Universal Pictur...|
|     710|James Bond must u...|          16/11/1995|           352194034|No limits. No fea...|           GoldenEye|[Eilat,  Tiberias...|[Adventure, Actio...|[United Kingdom, ...|[English, PÑÑÑ...|[United Artists, ...|
|    9087|Widowed U.S. pres...|          17/11/1995|           107879496|Why can't the mos...|The American Pres...|[Haifa,  Tel Aviv...|[Comedy, Drama, R...|[United States of...|           [English]|[Columbia Picture...|
|   12110|When a lawyer sho...|          22/12/1995|                   0|                null|Dracula: Dead and...|[Tiberias,  Jerus...|    [Comedy, Horror]|[France, United S...|  [English, Deutsch]|[Columbia Picture...|
|   21032|An outcast half-w...|          22/12/1995|            11348324|Part Dog. Part Wo...|               Balto|[Jerusalem,  Haif...|[Family, Animatio...|[United States of...|           [English]|[Universal Pictur...|
|   10858|An all-star cast ...|          22/12/1995|            13681765|Triumphant in Vic...|               Nixon|[Eilat,  Haifa,  ...|    [History, Drama]|[United States of...|           [English]|[Hollywood Pictur...|
|    1408|Morgan Adams and ...|          22/12/1995|            10017322|The Course Has Be...|    Cutthroat Island|[Tiberias,  Eilat...| [Action, Adventure]|[France, Germany,...|    [English, Latin]|[Le Studio Canal+...|
|     524|The life of the g...|          22/11/1995|           116112375|No one stays at t...|              Casino|[Tel Aviv,  Eilat...|      [Drama, Crime]|[France, United S...|           [English]|[Universal Pictur...|
|    4584|Rich Mr. Dashwood...|          13/12/1995|           135000000|Lose your heart a...|Sense and Sensibi...|[Haifa,  Eilat,  ...|    [Drama, Romance]|[United Kingdom, ...|           [English]|[Columbia Picture...|
|       5|It's Ted the Bell...|          09/12/1995|             4300000|Twelve outrageous...|          Four Rooms|[Haifa,  Eilat,  ...|     [Crime, Comedy]|[United States of...|           [English]|[Miramax Films,  ...|
|    9273|Summoned from an ...|          10/11/1995|           212385533|New animals. New ...|Ace Ventura: When...|[Tiberias,  Tel A...|[Crime, Comedy, A...|[United States of...|           [English]|[O Entertainment,...|
|   11517|A vengeful New Yo...|          21/11/1995|            35431113|Get on, or GET OU...|         Money Train|[Eilat,  Jerusale...|[Action, Comedy, ...|[United States of...|           [English]| [Columbia Pictures]|
+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [36]:
# Section 4 - Deployment

#
#
#
# Due to many debugging issues that we couldn't overcome, we were unfortunately 
# enforced to make the partition on the original given data.
# There was not any specific damand to implement the fragmentation on out transformed 
# data from part 1.
# In fact, there is no significant difference in this, compared to the implementation
# on the data of Part 1, since the considerations will in any case be the same 
# considerations, which we detailed in the document of Part 3.
#
#

# creating copies for all sites and all tables needed
users_file = '/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/users.csv'

tel_aviv_users = spark.read.csv(users_file, header='True', inferSchema='True')
jerusalem_users = spark.read.csv(users_file, header='True', inferSchema='True')
haifa_users = spark.read.csv(users_file, header='True', inferSchema='True')
gesher_users = spark.read.csv(users_file, header='True', inferSchema='True')
eilat_users = spark.read.csv(users_file, header='True', inferSchema='True')

tickets_df = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/tickets.csv',
                            header='True', inferSchema='True')

tel_aviv_tickets = tickets_df.alias('tel_aviv_tickets')
jerusalem_tickets = tickets_df.alias('jerusalem_tickets')
haifa_tickets = tickets_df.alias('haifa_tickets')
gesher_tickets = tickets_df.alias('gesher_tickets')
eilat_tickets = tickets_df.alias('eilat_tickets')

# applying our desgin on the tables
# deploymenting users
jerusalem_users = jerusalem_users.where(jerusalem_users.user_location == "Jerusalem")
tel_aviv_users = tel_aviv_users.where(tel_aviv_users.user_location == "Tel Aviv")
haifa_users = haifa_users.where(haifa_users.user_location == "Haifa")
gesher_users = gesher_users.where(gesher_users.user_location == "Kibuts Gesher")
eilat_users = eilat_users.where(eilat_users.user_location == "Eilat")

# deploymenting tickets
jerusalem_tickets = jerusalem_tickets.where(jerusalem_tickets.city == "Jerusalem")
tel_aviv_tickets = tel_aviv_tickets.where(tel_aviv_tickets.city == "Tel Aviv")
haifa_tickets = haifa_tickets.where(haifa_tickets.city == "Haifa")
gesher_tickets = gesher_tickets.where(gesher_tickets.city == "Tiberias")
eilat_tickets = eilat_tickets.where(eilat_tickets.city == "Eilat")

# deploymenting movies
movies_file = '/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/movies.csv'
df = spark.read.csv(movies_file, header='True', inferSchema='True')

df_2 = df.select(F.col("movie_id"), F.col("genres"), F.col("overview"),
                 F.col("production_companies"), F.col("production_countries"),
                 F.year(F.to_date(F.col("release_date"), "dd/MM/yyyy")).cast("int").alias("release_date"),
                 F.col("revenue"), F.col("spoken_languages"), F.col("tagline"),
                 F.col("title"), F.col("cities"))

df_3 = df.select(F.col("movie_id"), F.col("genres"),
                 F.col("production_companies"), F.col("production_countries"),
                 F.year(F.to_date(F.col("release_date"), "dd/MM/yyyy")).cast("int").alias("release_date"),
                 F.col("spoken_languages"), F.col("cities"))


jerusalem_movies = df_2.where((F.col("production_countries").like("%Israel%"))
                            & (F.col("release_date") >= 1990))
tel_aviv_movies = df_3.where(((F.col("genres").like("%Action%") | F.col("genres").like("%Drama%")
 | F.col("genres").like("%Science Fiction%")) | F.col("production_countries").like("%Israel%"))
  & (F.col("release_date") >= 1990))
haifa_movies = df_3.where((F.col("genres").like("%Drama%") | ~F.col("spoken_languages").like("%עִבְרִית%"))
                          & (F.col("release_date") >= 1990))
gesher_movies = df_3.where((F.col("genres").like("%Drama%") | F.col("genres").like("%Documentary%") 
  | F.col("genres").like("%Family%") | ~F.col("spoken_languages").like("%עִבְרִית%"))
  & (F.col("release_date") >= 1990))
eilat_movies = df_3.where((~F.col("spoken_languages").like("%עִבְרִית%")) 
  | (F.col("production_companies").like("%Pixar Animation Studios%"))
  | (F.col("production_companies").like("%Walt Disney Pictures%")) 
  | (F.col("production_companies").like("%Warner Bros%")))

print("Jerusalem Movies:")
jerusalem_movies.show()
print("Tel Aviv Movies:")
tel_aviv_movies.show()
print("Haifa Movies:")
haifa_movies.show()
print("Gesher Movies:")
gesher_movies.show()
print("Eilat Movies:")
eilat_movies.show()

# deploymenting credits
credits_file = '/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/credits.csv'
df = spark.read.csv(credits_file, header='True', inferSchema='True')

jerusalem_credits = df.select("*")
tel_aviv_credits = df.where(F.col("cast").like("%Tom Hanks%") 
  | F.col("cast").like("%Brad Pitt%") 
  | F.col("cast").like("%Johnny Depp%"))

print("Jerusalem Credits:")
jerusalem_credits.show()
print("Tel Aviv Credits:")
tel_aviv_credits.show()
print("Other sites shouldn't contain this table acoording to our design")
print()

# deploymenting queries
queries_file = '/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/queries.csv'
df = spark.read.csv(queries_file, header='True', inferSchema='True')
eilat_queries = df.select("*")


# Final fragmantation
final_fragmantation = {"Jerusalem": [jerusalem_users, jerusalem_tickets, jerusalem_movies,
                                     jerusalem_credits],
                       "Tel Aviv": [tel_aviv_users, tel_aviv_tickets, tel_aviv_movies,
                                    tel_aviv_credits],
                       "Haifa": [haifa_users, haifa_tickets, haifa_movies],
                       "Kibuts Gesher": [gesher_users, gesher_tickets, gesher_movies],
                       "Eilat": [eilat_users, eilat_tickets, eilat_movies, eilat_queries]}

print("Our final fragmantation:")
print(final_fragmantation)

for site in final_fragmantation:
  for i, dataframe in enumerate(final_fragmantation[site]):
    tname = [k for k, v in locals().items() if v == dataframe]
    tname = tname[0] if tname[0] != "dataframe" else tname[1]
    dataframe.write.option("header", True).csv(f"/content/drive/MyDrive/Colab Notebooks/DDBMS/DDBMS_proj_A_files/final_freg/{site}/{tname}")

Jerusalem Movies:
+--------+--------------------+--------------------+--------------------+--------------------+------------+-------+--------------------+--------------------+--------------------+--------------------+
|movie_id|              genres|            overview|production_companies|production_countries|release_date|revenue|    spoken_languages|             tagline|               title|              cities|
+--------+--------------------+--------------------+--------------------+--------------------+------------+-------+--------------------+--------------------+--------------------+--------------------+
|    8056|[{'id': 18, 'name...|In 1941, the inha...|[{'name': 'Canal ...|[{'iso_3166_1': '...|        1998|      0|[{'iso_639_1': 'f...|                null|       Train of Life|['Eilat', 'Jerusa...|
|   28308|[{'id': 18, 'name...|An ancient skelet...|[{'name': 'Helkon...|[{'iso_3166_1': '...|        2001|      0|[{'iso_639_1': 'a...|It would change h...|            The Body|['Haifa', 'Tiberi...|
|  151727|                  []|A portrait of var...|                  []|[{'iso_3166_1': '...|        2001|      0|                  []|                null|Trembling Before G-d|['Jerusalem', 'Ha...|
|   38880|[{'id': 99, 'name...|Documentarians Ju...|[{'name': 'Promis...|[{'iso_3166_1': '...|        2001|      0|[{'iso_639_1': 'a...|                null|            Promises|['Haifa', 'Jerusa...|
|  125945|[{'id': 10752, 'n...|In May 1948, shor...|[{'name': 'ARTE F...|[{'iso_3166_1': '...|        2002|      0|[{'iso_639_1': 'h...|                null|               Kedma|['Eilat', 'Haifa'...|
|   49680|[{'id': 35, 'name...|Zaza is a 31-year...|[{'name': 'ARTE F...|[{'iso_3166_1': '...|        2001|      0|[{'iso_639_1': 'k...|                null|       Late Marriage|['Jerusalem', 'Te...|
|   61545|[{'id': 18, 'name...|A coming-of-age s...|                  []|[{'iso_3166_1': '...|        2001|      0|[{'iso_639_1': 'a...|                null|       The Holy Land|['Tiberias', 'Hai...|
|   17614|[{'id': 10752, 'n...|A sociological st...|[{'name': 'Lama F...|[{'iso_3166_1': '...|        2002|      0|[{'iso_639_1': 'h...|Two soldiers and ...|      Yossi & Jagger|['Jerusalem', 'Ei...|
|   30735|[{'id': 35, 'name...|Life in a flimsy ...|                  []|[{'iso_3166_1': '...|        2003|      0|[{'iso_639_1': 'h...|                null|               Alila|['Jerusalem', 'Te...|
|   49689|[{'id': 18, 'name...|Daphne and her fo...|[{'name': 'Norma ...|[{'iso_3166_1': '...|        2002|      0|[{'iso_639_1': 'd...|                null|        Broken Wings|['Tel Aviv', 'Tib...|
|    1926|[{'id': 18, 'name...|11 directors show...|[{'name': 'GalatÃ...|[{'iso_3166_1': '...|        2002|      0|[{'iso_639_1': 'a...|                null|11'09''01 - Septe...|['Haifa', 'Tel Av...|
|      26|[{'id': 18, 'name...|Eyal, an Israeli ...|[{'name': 'Lama F...|[{'iso_3166_1': '...|        2004|      0|[{'iso_639_1': 'a...|He was trained to...|       Walk on Water|['Haifa', 'Tiberi...|
|   78344|[{'id': 35, 'name...|16 years old Shlo...|[{'name': 'United...|[{'iso_3166_1': '...|        2003|      0|[{'iso_639_1': 'h...|                null|Bonjour Monsieur ...|['Haifa', 'Tiberi...|
|  182097|[{'id': 10749, 'n...|A successful auth...|[{'name': 'Open D...|[{'iso_3166_1': '...|        2002|      0|[{'iso_639_1': 'a...|                null|       God's Sandbox|['Tiberias', 'Jer...|
|   15083|[{'id': 35, 'name...|In Jerusalem's or...|                  []|[{'iso_3166_1': '...|        2004|      0|[{'iso_639_1': 'h...|An Orthodox Jewis...|            Ushpizin|['Tiberias', 'Eil...|
|      67|[{'id': 53, 'name...|Paradise Now is f...|[{'name': 'Lama F...|[{'iso_3166_1': '...|        2005|3357075|[{'iso_639_1': 'a...|From the most une...|        Paradise Now|['Tiberias', 'Hai...|
|    7483|[{'id': 18, 'name...|Rebecca, an Ameri...|[{'name': 'SCOPE ...|[{'iso_3166_1': '...|        2005|      0|[{'iso_639_1': 'a...|                null|           Free Zone|['Tel Aviv', 'Eil...|
|    1986|[{'id': 18, 'name...|In 1980 the black...|[{'name': 'France...|[{'iso_3166_1': '...|        2005|      0|[{'iso_639_1': 'a...|                null|     Live and Become|['Jerusalem', 'Ei...|
|   22238|[{'id': 18, 'name...|In Majdal Shams, ...|[{'name': 'MACT P...|[{'iso_3166_1': '...|        2004|      0|[{'iso_639_1': 'a...|                null|    The Syrian Bride|['Jerusalem', 'Ei...|
|   41508|[{'id': 10752, 'n...|An Hungarian yout...|                  []|[{'iso_3166_1': '...|        2005|      0|[{'iso_639_1': 'e...|You can close you...|            Fateless|['Eilat', 'Tiberi...|
+--------+--------------------+--------------------+--------------------+--------------------+------------+-------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

Tel Aviv Movies:
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
|movie_id|              genres|production_companies|production_countries|release_date|    spoken_languages|              cities|
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
|     949|[{'id': 28, 'name...|[{'name': 'Regenc...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Jer...|
|   45325|[{'id': 28, 'name...|[{'name': 'Walt D...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Jerusa...|
|    9091|[{'id': 28, 'name...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Hai...|
|     710|[{'id': 12, 'name...|[{'name': 'United...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Tiberi...|
|    9087|[{'id': 35, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Tel Av...|
|   10858|[{'id': 36, 'name...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Haifa'...|
|    1408|[{'id': 28, 'name...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Eil...|
|     524|[{'id': 18, 'name...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tel Aviv', 'Eil...|
|    4584|[{'id': 18, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Eilat'...|
|   11517|[{'id': 28, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Jerusa...|
|    1710|[{'id': 18, 'name...|[{'name': 'Regenc...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tel Aviv', 'Tib...|
|    9691|[{'id': 28, 'name...|[{'name': 'Silver...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tel Aviv', 'Hai...|
|   12665|[{'id': 18, 'name...|[{'name': 'Carava...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Jerusa...|
|     451|[{'id': 18, 'name...|[{'name': 'United...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Tiberi...|
|   16420|[{'id': 18, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tel Aviv', 'Jer...|
|    9263|[{'id': 35, 'name...|[{'name': 'New Li...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Eilat'...|
|   17015|[{'id': 18, 'name...|[{'name': 'BBC Fi...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Jer...|
|   37557|[{'id': 18, 'name...|[{'name': 'Minist...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'z...|['Tiberias', 'Jer...|
|    9909|[{'id': 18, 'name...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Tiberi...|
|      63|[{'id': 878, 'nam...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Jerusalem', 'Ti...|
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
only showing top 20 rows

Haifa Movies:
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
|movie_id|              genres|production_companies|production_countries|release_date|    spoken_languages|              cities|
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
|     862|[{'id': 16, 'name...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Tel Av...|
|    8844|[{'id': 12, 'name...|[{'name': 'TriSta...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Jerusalem', 'Ti...|
|   15602|[{'id': 10749, 'n...|[{'name': 'Warner...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Haifa'...|
|   11862|[{'id': 35, 'name...|[{'name': 'Sandol...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Jerusa...|
|     949|[{'id': 28, 'name...|[{'name': 'Regenc...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Jer...|
|   11860|[{'id': 35, 'name...|[{'name': 'Paramo...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'f...|['Eilat', 'Jerusa...|
|   45325|[{'id': 28, 'name...|[{'name': 'Walt D...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Jerusa...|
|    9091|[{'id': 28, 'name...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Hai...|
|     710|[{'id': 12, 'name...|[{'name': 'United...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Tiberi...|
|    9087|[{'id': 35, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Tel Av...|
|   12110|[{'id': 35, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Jer...|
|   21032|[{'id': 10751, 'n...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Jerusalem', 'Ha...|
|   10858|[{'id': 36, 'name...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Haifa'...|
|    1408|[{'id': 28, 'name...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Eil...|
|     524|[{'id': 18, 'name...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tel Aviv', 'Eil...|
|    4584|[{'id': 18, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Eilat'...|
|       5|[{'id': 80, 'name...|[{'name': 'Mirama...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Eilat'...|
|    9273|[{'id': 80, 'name...|[{'name': 'O Ente...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Tel...|
|   11517|[{'id': 28, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Jerusa...|
|    1710|[{'id': 18, 'name...|[{'name': 'Regenc...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tel Aviv', 'Tib...|
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
only showing top 20 rows

Gesher Movies:
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
|movie_id|              genres|production_companies|production_countries|release_date|    spoken_languages|              cities|
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
|     862|[{'id': 16, 'name...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Tel Av...|
|    8844|[{'id': 12, 'name...|[{'name': 'TriSta...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Jerusalem', 'Ti...|
|   15602|[{'id': 10749, 'n...|[{'name': 'Warner...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Haifa'...|
|   11862|[{'id': 35, 'name...|[{'name': 'Sandol...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Jerusa...|
|     949|[{'id': 28, 'name...|[{'name': 'Regenc...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Jer...|
|   11860|[{'id': 35, 'name...|[{'name': 'Paramo...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'f...|['Eilat', 'Jerusa...|
|   45325|[{'id': 28, 'name...|[{'name': 'Walt D...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Jerusa...|
|    9091|[{'id': 28, 'name...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Hai...|
|     710|[{'id': 12, 'name...|[{'name': 'United...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Tiberi...|
|    9087|[{'id': 35, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Tel Av...|
|   12110|[{'id': 35, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Jer...|
|   21032|[{'id': 10751, 'n...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Jerusalem', 'Ha...|
|   10858|[{'id': 36, 'name...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Haifa'...|
|    1408|[{'id': 28, 'name...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Eil...|
|     524|[{'id': 18, 'name...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tel Aviv', 'Eil...|
|    4584|[{'id': 18, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Eilat'...|
|       5|[{'id': 80, 'name...|[{'name': 'Mirama...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Eilat'...|
|    9273|[{'id': 80, 'name...|[{'name': 'O Ente...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Tel...|
|   11517|[{'id': 28, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Jerusa...|
|    1710|[{'id': 18, 'name...|[{'name': 'Regenc...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tel Aviv', 'Tib...|
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
only showing top 20 rows

Eilat Movies:
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
|movie_id|              genres|production_companies|production_countries|release_date|    spoken_languages|              cities|
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
|     862|[{'id': 16, 'name...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Tel Av...|
|    8844|[{'id': 12, 'name...|[{'name': 'TriSta...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Jerusalem', 'Ti...|
|   15602|[{'id': 10749, 'n...|[{'name': 'Warner...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Haifa'...|
|   31357|[{'id': 35, 'name...|              Bernie| Glo and Robin ta...|        null|[{'iso_3166_1': '...|[{'iso_639_1': 'e...|
|   11862|[{'id': 35, 'name...|[{'name': 'Sandol...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Jerusa...|
|     949|[{'id': 28, 'name...|[{'name': 'Regenc...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Jer...|
|   11860|[{'id': 35, 'name...|[{'name': 'Paramo...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'f...|['Eilat', 'Jerusa...|
|   45325|[{'id': 28, 'name...|[{'name': 'Walt D...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Jerusa...|
|    9091|[{'id': 28, 'name...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Hai...|
|     710|[{'id': 12, 'name...|[{'name': 'United...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Tiberi...|
|    9087|[{'id': 35, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Tel Av...|
|   12110|[{'id': 35, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Jer...|
|   21032|[{'id': 10751, 'n...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Jerusalem', 'Ha...|
|   10858|[{'id': 36, 'name...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Haifa'...|
|    1408|[{'id': 28, 'name...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Eil...|
|     524|[{'id': 18, 'name...|[{'name': 'Univer...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tel Aviv', 'Eil...|
|    4584|[{'id': 18, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Eilat'...|
|       5|[{'id': 80, 'name...|[{'name': 'Mirama...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Haifa', 'Eilat'...|
|    9273|[{'id': 80, 'name...|[{'name': 'O Ente...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Tiberias', 'Tel...|
|   11517|[{'id': 28, 'name...|[{'name': 'Columb...|[{'iso_3166_1': '...|        1995|[{'iso_639_1': 'e...|['Eilat', 'Jerusa...|
+--------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+
only showing top 20 rows

Jerusalem Credits:
+--------------------+--------------------+--------------------+
|                cast|                crew|                  id|
+--------------------+--------------------+--------------------+
|[{'cast_id': 14, ...|"[{'credit_id': '...| 'profile_path': ...|
|[{'cast_id': 1, '...|[{'credit_id': '5...|                8844|
|[{'cast_id': 2, '...|[{'credit_id': '5...|               15602|
|"[{'cast_id': 1, ...| 'credit_id': '52...|         'gender': 1|
|[{'cast_id': 1, '...|[{'credit_id': '5...|               11862|
|"[{'cast_id': 25,...| 'credit_id': '52...|         'gender': 0|
|[{'cast_id': 1, '...|[{'credit_id': '5...|               11860|
|[{'cast_id': 2, '...|[{'credit_id': '5...|               45325|
|[{'cast_id': 1, '...|[{'credit_id': '5...|                9091|
|[{'cast_id': 1, '...|[{'credit_id': '5...|                 710|
|"[{'cast_id': 1, ...| 'credit_id': '52...|         'gender': 2|
|[{'cast_id': 9, '...|"[{'credit_id': '...| 'profile_path': ...|
|"[{'cast_id': 1, ...| 'credit_id': '56...|         'gender': 0|
|"[{'cast_id': 1, ...| 'credit_id': '52...|         'gender': 2|
|"[{'cast_id': 1, ...| 'credit_id': '59...|         'gender': 2|
|"[{'cast_id': 4, ...| 'credit_id': '52...|         'gender': 2|
|[{'cast_id': 6, '...|[{'credit_id': '5...|                4584|
|[{'cast_id': 42, ...|"[{'credit_id': '...| 'profile_path': ...|
|"[{'cast_id': 1, ...|         'order': 14| 'profile_path': ...|
|[{'cast_id': 1, '...|[{'credit_id': '5...|               11517|
+--------------------+--------------------+--------------------+
only showing top 20 rows

Tel Aviv Credits:
+--------------------+--------------------+--------------------+
|                cast|                crew|                  id|
+--------------------+--------------------+--------------------+
|[{'cast_id': 14, ...|"[{'credit_id': '...| 'profile_path': ...|
|"[{'cast_id': 41,...|         'order': 28| 'profile_path': ...|
|"[{'cast_id': 17,...| 'credit_id': '56...|         'gender': 0|
|"[{'cast_id': 11,...| 'credit_id': '56...|         'gender': 2|
|[{'cast_id': 19, ...|"[{'credit_id': '...| 'profile_path': ...|
|[{'cast_id': 1, '...|[{'credit_id': '5...|                1909|
|"[{'cast_id': 5, ...| 'credit_id': '52...|         'gender': 1|
|[{'cast_id': 18, ...|[{'credit_id': '5...|                 628|
|"[{'cast_id': 17,...| 'credit_id': '52...|         'gender': 2|
|"[{'cast_id': 13,...| 'credit_id': '54...|         'gender': 1|
|"[{'cast_id': 7, ...| 'credit_id': '52...|         'gender': 2|
|[{'cast_id': 2, '...|[{'credit_id': '5...|               50463|